# Server configurations
#
# Set `HOST` jadi `0.0.0.0` untuk production agar server dapat diakses dari luar container
# Set `NODE_ENV` untuk production
# Set `REVERSE_PROXY` jadi truthy kalau berada di belakang reverse-proxy
HOST=127.0.0.1
PORT=8080
NODE_ENV=
REVERSE_PROXY=0

# Database configurations
#
# DB_URL dibutuhkan oleh prisma.config agar dapat melakukan koneksi dengan database yang bersangkutan
# dengan Prisma CLI.
# 
# Env vars DB_* lainnya hanya untuk diberikan ke adapter mariaDB
DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=root
DB_NAME=sari_tebu
DB_URL=mysql://root:root@127.0.0.1:3306/sari_tebu

# Session Token configurations
#
# Set `SESSION_TOKEN_AGE` dan `OLD_SESSION_TOKEN_AGE` untuk waktu token pada browser
SESSION_TOKEN_AGE=600000
OLD_SESSION_TOKEN_AGE=18000000

# Email (OTP) Configurations
#
# Set `USE_EMAIL_PROVIDER=1` untuk kirimkan otp lewat email
# Set `USE_EMAIL_PROVIDER=0` akan dikirimkan ke stdout
USE_EMAIL_PROVIDER=0
EMAIL_PROVIDER_API_KEY=
EMAIL_ADDRESS_SOURCE=
