.layout {
  display: flex;
  height: 100vh;
  background: #f5f7fb;
}

.layout-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.layout-content {
  padding: 20px;
}

.body {
  background-color: #f4f7f6 !important;
}